<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <p>Hello, World!</p>
    <p class="active">Hello, World!</p>
    <p>Hello, World!</p>
    <button id="myButton">Click Me</button>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>